@use "../abstracts" as *;

.home__container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.home__image {
    width: 100%;
    height: 40rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

//* $position, $top, $left, $bottom, $right, $width, $height

.home__todoAdd {
    @include position(absolute, 50%, null, null, null, 50%, 3rem);
    justify-content: center;
    display: flex;
}

.home__todoList {
    @include position(absolute, 60%, null, null, null, 50%, 20rem);
    justify-content: center;
    display: flex;
}
