@use "../abstracts" as *;

.todoList__container {
    width: 50%;
    max-height: 100vh;
    background: $white;
    display: block;
    align-items: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: scroll;
}
.todoList__item {
    width: 100%;
    display: flex;
    align-items: center;
    height: 15%;
    border-bottom: 1px solid $grey;
    &__check {
        margin-left: 1rem;
    }
    &__text {
        margin-left: 1rem;
    }
    &__completed {
        margin-left: 1rem;
        text-decoration: line-through;
        opacity: 0.5;
    }
    &__link {
        cursor: pointer;
        text-decoration: none;
        color: $black;
    }
}
.todoList__footer {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $grey;
    &__item {
        margin-left: 1.5rem;
        cursor: pointer;
    }
}
